 <script defer data-domain="powersheet.co" src="https://plausible.io/js/script.tagged-events.outbound-links.js"></script>
<script>
    var toTag = [
        {
            elementId: 'Subscribe+Button+3',
            classes: 'plausible-event-name=Subscribe+Button+3'
        },
        {
            elementId: 'Subscribe+Script+3',
            classes: 'plausible-event-name=Subscribe+Script+3'
        }
    ]

    document.addEventListener('DOMContentLoaded', function (_e) {
        toTag.forEach(function (tagObject) {
            var element = document.getElementById(tagObject.elementId)
            tagObject.classes.split(' ').forEach(function (className) {
                if (element) { element.classList.add(className) }
            })
        })
    })
</script>
<style>
    
.pluslink, .pluslink:visited, .pluslink:hover, .pluslink:active {
   text-decoration:none;
 }
    
.button {
  background-color: #1d43b8;
  border: none;
  color: white;
  padding: 10px 66px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  /* transition-duration: 0.4s; */
  border-radius: 6px;
}

.button:hover {
  background-color: DeepSkyBlue;
  /* opacity: 0.85; */
  color: white;
}
    
</style>
